@import '../../../assets/global.module.scss';


.container {
    // background-color: aqua;

    .emptyWatchlist {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .link {
            margin-top: 50px;
            font-weight: 500;
            color: $light-text-color;
            text-decoration: none;

            &:hover {
                color: $hover-color ;
            }
        }
    }
}