@import '../../../assets/global.module.scss';

.container {

    .innerContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border: 1px dotted $hairline-color;
        width: 340px;
        height: 300px;
        cursor: pointer;
        border-radius: 10px;

        &:hover {
            border: 1px dotted $light-slate;
        }

        .addIcon {
            color: #ADADAD;
            font-size: 44px;

        }

        h4 {
            color: $blue-darkest;
            font-weight: 500;
            margin: 0;
        }
    }
}