@import '../../../assets/global.module.scss';

.container {

    .address {
        display: flex;
        flex-wrap: wrap;

        .innerContainer {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            border: 1px dotted $hairline-color;
            width: 340px;
            height: 300px;
            cursor: pointer;
            border-radius: 10px;
    
            &:hover {
                border: 1px dotted $light-slate;
            }
    
            display: flex;
            flex-direction: row;
            .addIcon {
                color: #ADADAD;
                font-size: 44px;
    
            }
    
            h4 {
                color: $blue-darkest;
                font-weight: 500;
                margin: 0;
            }
        }

        .addressContainer {
            border: 1px solid $hairline-color;
            width: 340px;
            margin-left:65px;
            padding: 20px;

            .fullName {
                font-weight: 500;
                font-size: 18px;
            }

            p {
                padding: 10px 0;
            }

            .btnContainer {
                display: flex;
                align-items: center;
                margin-top: 60px;

                p {
                    color: #007185;
                    cursor: pointer;
                }
                .pipe {
                    margin: 0 10px;
                    color: black;
                }
            }
        }
    }


}