.container {
  background-color: #0089ed;
  height: 70px;
  padding: 0 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .hamburgerIcon {
    color: white;
    font-size: 40px;
    cursor: pointer;
  }

  .search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;

    input {
      width: 90%;
      height: 30px;
      transition: width 1s ease;
      border: 1px solid transparent;
      border-radius: 6px 0 0 6px;
      outline: none;
      padding-left: 15px;
    }

    input:focus {
      width: 100%;
      transition: width 1s ease-in-out;
      outline: none;
    }

    .searchIcon {
      margin-left: 1px;
      background-color: #fbbc05;
      color: white;
      height: 34px;
      width: 30px;
      border-radius: 0px 6px 6px 0;
      cursor: pointer;
    }
  }

  .cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15%;

    p {
      font-size: 18px;
      font-weight: 600;
      color: white;
      cursor: pointer;
    }

    .shoppingCart {
      color: white;
      cursor: pointer;
      margin-right: 10px;
    }
  }
}
