@import '../../assets/global.module.scss';

.container {
  padding: 0 6%;

  h3 {
    color: $primary-color;
  }

  .productContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
